<% provide(:title, 'Courses') %>

<div class="flex-col grow">
  <div class="flex grow bg-blue-950">
    <h3 class="text-white text-lg flex-1 px-8">BTGA Course List</h3>
    <%= link_to 'New Course', new_course_path, class: "px-8 text-white" %>
  </div>
  <div class="flex grow">
    <table class="table-auto shadow-lg bg-white grow">
      <thead>
        <tr class="bg-blue-950 text-white">
          <th class="text-left px-8 py-2">Course</th>
          <th class="text-left px-8 py-2">Par</th>
          <th class="text-left px-8 py-2">Yardage</th>
          <th class="text-left px-8 py-2">Difficulty</th>
          <th class="text-left px-8 py-2">Rating</th>
          <th class="text-left px-8 py-2">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @courses.each do |course| %>
          <tr>
            <td class="text-left px-8 py-2"><%= link_to course.name, course %></td>
            <td class="text-left px-8 py-2"><%= course.par %></td>
            <td class="text-left px-8 py-2"><%= course.yardage %></td>
            <td class="text-left px-8 py-2"><%= course.difficulty %></td>
            <td class="text-left px-8 py-2"><%= course.star_rating %></td>
            <td class="text-left px-8 py-2"><%= link_to 'Edit', edit_course_path(course) %> | 
                <%= link_to 'Delete', course, data: { "turbo-method": :delete, "turbo_confirm": 'Are you sure?' } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
